@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-main bg-light-100;
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

button {
    @apply bg-primary rounded-md;
}